/*//Fonts//---------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');


/*//Global//---------------------------------*/
* {
  box-sizing: border-box;
}

body,
html{
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  background: rgba(255,255,255,1);
}

h1,
h2,
h3,
h4,
h5{
  margin: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.flex-container {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

/*//Page Elements//---------------------------------*/

.header-logo{
  max-width: 100px;
  margin: 2em 1em 1em;
  vertical-align: top;
}

.header-title {
  margin: 3.75em 1em 0 0;
  display: inline-block;
  float: right;
}

.header-title h1{
  font-size: 1.5em;
  font-weight: 600;
}

.header-title h2 {
  font-size: 1.5em;
  font-weight: 300;
  color: rgb(154, 154, 154);
}

header::after {
  margin: 1em .25em;
  height: .1em;
  display: block;
  background-color: rgb(211, 212, 211);
  border: .5px white;
  content: '';
}

/*//Hero Section//---------------------------------*/

.banner {
  max-width: 100%;
}

.banner-image {
  max-width: 100%;
  padding: 0 .5em;
}
/*//Featured Work//---------------------------------*/

.featured-work {
  margin: 2em 0 0 0;
}

.section-header {
  font-size: 2em;
  font-weight: 300;
  margin: 0 0 .5em .25em;
  color: rgb(186, 186, 186);
}

.work-card {
  text-align: center;
  margin: .5em;
  flex: 1 1 300px;
  -webkit-flex: 1 1 300px;
}

.work-card img {
  max-width: 100%;
}

.project-title {
  font-weight: 300;
  padding: .5em 0;
}

.project-link {
  text-decoration: none;
  color:#b1b1b1;
}

.project-link:hover {
  transition: .3s;
  color:#fcb5ff;
}

.project-link:active {
  transition: .3s;
  color:#bad8e0;
}
/*//Clearfix//---------------------------------*/

.container::before, .container::after {
    content:"";
    display:table;
}
.container::after {
    clear:both;
}
.container {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
