/*//Fonts//---------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');


/*//Global//---------------------------------*/
* {
  box-sizing: border-box;
}

body,
html{
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,247,252,1) 48%, rgba(236,240,231,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(48%, rgba(252,247,252,1)), color-stop(100%, rgba(236,240,231,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,247,252,1) 48%, rgba(236,240,231,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,247,252,1) 48%, rgba(236,240,231,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,247,252,1) 48%, rgba(236,240,231,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(252,247,252,1) 48%, rgba(236,240,231,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ecf0e7', GradientType=0 );

}

h1,
h2,
h3,
h4,
h5{
  margin: 0;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

/*//Page Elements//---------------------------------*/

.header-logo{
  max-width: 100px;
  margin: 2em 1em 1em;
  vertical-align: top;
}

.header-title {
  margin: 3.75em 1em 0 0;
  display: inline-block;
  float: right;
}

.header-title h1{
  font-size: 1.5em;
  font-weight: 600;
}

.header-title h2 {
  font-size: 1.5em;
  font-weight: 300;
  color: rgb(154, 154, 154);
}

hr {
  margin: 1em .25em;
  height: .1em;
  display: block;
  background-color: rgb(211, 212, 211);
  border: .5px white;
  content: '';
}

/*//Hero Section//---------------------------------*/

.hero-project {
  max-width: 100%;
}

.hero-image {
  max-width: 100%;
  padding: 0 .5em;
  display: block;
}

/*//Featured Work//---------------------------------*/

.featured-work {
  margin: 2em 0 0 0;
}

.section-header {
  font-size: 2em;
  font-weight: 300;
  margin: 0 0 .5em 0;
  color: rgb(186, 186, 186);
}

.work-card {
  margin: 0;
  padding: 0;
  list-style: none;
}

.work-card li {
  border-radius: 5px;
  background-color: red;
  flex: 1 1 200px;
}

.work-card img {
  max-width: 100%;
  border-radius:inherit;
}

.work-card h3 {
  font-weight: 300;
  text-transform: uppercase;
}


.flex {
    display: flex;
    flex-wrap: wrap;

}

.flex li {
  flex: 1 1 200px;
  margin: 10px;
}

/*//Clearfix//---------------------------------*/
.container::before, .container::after {
    content:"";
    display:table;
}
.container::after {
    clear:both;
}
.container {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
